@using BikeRental.Web.Extension

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}


<div class="container">
    <h1> @System.Web.HttpContext.Current.GetMySessionObject().Name Control Panel</h1>
</div>